<html>

<head>
    <style type="text/css">
        body {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            background-color: rgb(118, 205, 216);
        }

        div.container {
            max-width: 500px;
            margin: 50px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }

        p {
            text-transform: uppercase;
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Welcome to Python App running!!</p>
        <p>EPAM autumn 2022</p>
        <img src="{{url}}" alt="Random weld defect" width="450">
        <p>Anything is Possible!!!!!</p>
        <p>With best regards Sergey Boboshko</p>
    </div>
</body>

</html>